BASE_URL = ""
PASSWORD = ""
USER_NAME = ""

API_BASE_URL = ""
API_AUTH = ""
GET_BOOKING = ""
CREATE_BOOKING = ""
UPDATE_BOOKING = ""
DELETE_BOOKING = ""
BOOKING_API_USERNAME = ""
BOOKING_API_PASSWORD = ""